.ex-1-square {
    transition: all 1s linear;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: all 1.7s ease-out;
    width: 100px;
    height: 100px;
    background: red;
}

.ex-2-square:active {
    width: 100%
}

.ex-3-square {
    transition: all .3s linear;
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: all 1s linear;
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}

.ex-5-square {
    transition: all .8s ease-out;
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img, .ex-8-img {
    transition: all ease-out;
}

.ex-7-img {
    transition: 1.5s;
}

.ex-7-img:hover {
    filter: sepia(0.8);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}

.ex-8-img:hover, .ex-9-img:hover {
    border-radius: 20px;
}

.ex-9-img {
    transition: all 2s ease-out;
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img:hover {
    filter: grayscale(0.7) sepia(0.5);
    transform: scale(1.5);
}

.ex-10-icon {
    animation: counterclockwise-rotation 1s infinite linear;
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: spring-loaded 2s linear;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-button:hover .ex-12-top-white {
    animation: border-forth 1.8s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: border-back 1.8s linear
}

.ex-13-button:hover .ex-13-top-white {
    animation: full-lap-top 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: full-lap-bottom 2s linear;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* ANIMATIONS */

@keyframes counterclockwise-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spring-loaded {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(320deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes border-forth {
    0% {
        transform: translateX(0%)
    }

    50% {
        transform: translateX(180%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes border-back {
    0% {
        transform: translateX(0%)
    }

    50% {
        transform: translateX(-160%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes full-lap-top {
    0% {
        top: -10px;
        left: 10%;
    }

    20% {
        top: -10px;
        left: 80%;
    }

    40% {
        left: 80%;
        top: 50px;
    }

    60% {
        top: 50px;
        left: -10%;
    }

    80% {
        left: -10%;
        top: -10px;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes full-lap-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }

    20% {
        bottom: -10px;
        right: 80%;
    }

    40% {
        bottom: 50px;
        right: 80%
    }

    60% {
        bottom: 50px;
        right: 0%;
    }

    80% {
        right: 0%;
        bottom: -10px
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}